{% extends 'base.html' %}
{% block 'container' %}
<!-- begin attorneys -->
<div id="attorneys_marker"></div>
<div class="attorneys">
    <div class="row">
        <div class="span12">
            <div class="caption styler_color">VALMIR OLIVEIRA JR. ADVOGADOS</div>
        </div>
    </div>
    <!-- attorney 1 -->
    <div class="row">
        <div class="span12">
            <div class="person">
                <!-- <div class="img"><img src="img/img_3.png" alt="" /></div> -->
                <div class="text">
                    <!-- attorney 1 name -->
                    <div class="name">VALMIR OLIVEIRA JR.</div>
                    <!-- attorney 1 title -->
                    <div class="state">Sócio Fundador</div>
                    <!-- attorney 1 vcard, PDF and linkedin -->
                    <ul class="info clearfix">
                        <!-- <li><a href="#" class="vcard">vCard</a></li> -->
                        <li><a href="#" class="pdf">PDF Bio</a></li>
                        <li><a href="https://www.linkedin.com/pub/valmir-oliveira-jr/16/246/13a" target="_blank"class="linkedin">LinkedIn</a></li>
                    </ul>
                    <!-- attorney 1 summary -->
                    <div class="desc">
                        <p>Profissional com mais de dez anos de formação, e com pós graduações em áreas como Direito Administrativo, Tributário e Direito Sanitário, exerce funções públicas há mais de uma década, encabeçando assessorias jurídicas com grandes responsabilidades, sempre entendendo o conceito de produtividade como norte do bom serviço jurídico. Além das funções públicas, já integrou outras sociedades de advogados, contando com mais de dez anos de atuação na advocacia contenciosa e consultiva, em diversos ramos do direito.</p>
                        <p>Em adição à experiência no Brasil, tem ainda passagem de estudos no Exterior, ampliando o leque de habilidades que são aplicados na solução do conflito de clientes brasileiros aqui e fora do País.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- attorney 2 -->
            <div class="person">
                <!-- <div class="img"><img src="img/img_4.png" alt="" /></div> -->
                <div class="text">
                    <!-- attorney 2 name -->
                    <div class="name">Rodrigo Torres</div>
                    <!-- attorney 2 title -->
                    <div class="state">Advogado</div>
                    <ul class="info clearfix">
                        <!-- attorney 2 vcard, PDF and linkedin -->
                        <!-- <li><a href="#" class="vcard">vCard</a></li> -->
                        <li><a href="#" class="pdf">PDF Bio</a></li>
                        <li><a href="#" class="linkedin">LinkedIn</a></li>
                    </ul>
                    <!-- attorney 2 summary -->
                    <div class="desc">
                        <p>Profissional com quase dez anos de experiência nos ramos do direito público e privado, tendo relevantes passagens por governos municipais e estaduais, bem como tendo integrado assessorias de multinacionais, sempre com passagens de destaque em todos os vínculos que teve.</p>
                        <p>Tem ainda atuação de destaque na área de entretenimento, mídia, tecnologia e conteúdo, com robusta bagagem nas áreas de cultura, entretenimento, esportes e produção audiovisual, incluindo transações para financiamento nacional e internacional de co-produções audiovisuais, com larga atuação em negócios que envolvam a Lei Rouanet.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <!-- attorney 3 -->
            <div class="person">
                <!-- <div class="img"><img src="img/img_5.png" alt="" /></div> -->
                <div class="text">
                    <!-- attorney 3 name -->
                    <div class="name">Márcia Belmiro</div>
                    <!-- attorney 3 title -->
                    <div class="state">Advogado</div>
                    <ul class="info clearfix">
                        <!-- attorney 3 vcard, pdf, and linkedin -->
                        <!-- <li><a href="#" class="vcard">vCard</a></li> -->
                        <li><a href="#" class="pdf">PDF Bio</a></li>
                        <li><a href="#" class="linkedin">LinkedIn</a></li>
                    </ul>
                    <!-- attorney 3 summary -->
                    <div class="desc">
                        <p>Profissional de destaque na seara do direito público, com mais de quinze anos de atuação em jurídicos de prefeituras e vasta experiência em contratos públicos e no consultivo da administração pública. Profissional competente e dedicada ao direito público, bem como dotada de vasta experiência educacional internacional, aliando base teórica e vivência profissional na solução de conflitos de clientes.</p>
                    </div>
                </div>
                <!-- <div class="clear"></div> -->
            </div>
            <!-- attorney 4 -->
            <div class="person">
                <!-- <div class="img"><img src="img/img_5.png" alt="" /></div> -->
                <div class="text">
                    <!-- attorney 4 name -->
                    <div class="name">João Paulo</div>
                    <!-- attorney 4 title -->
                    <div class="state">Estagiario</div>
                    <ul class="info clearfix">
                        <!-- attorney 4 vcard, pdf, and linkedin -->
                        <!-- <li><a href="#" class="vcard">vCard</a></li> -->
                        <li><a href="#" class="pdf">PDF Bio</a></li>
                        <li><a href="#" class="linkedin">LinkedIn</a></li>
                    </ul>
                    <!-- attorney 4 summary -->
                    <div class="desc">
                        <p>Acadêmico de direito com passagem por escritórios e por departamentos jurídicos da esfera estadual, atua auxiliando o corpo de advogados do escritório em todas as áreas.</p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- /end attorneys -->
{% endblock %}