{% extends 'base.html' %}
{% block 'container' %}
<!-- begin practice areas -->
<div id="practice_marker"></div>
<div class="practice">
    <div class="row">
        <div class="span12">
            <div class="caption">ÁREAS DE ATUAÇÃO</div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <ul class="clearfix practice_list">
                <!-- practice area 1 -->
                <li>
                    <div class="name">Administrativo</div>
                    <div class="text">
                        <p>No ramo do Direito Administrativo a atuação do Escritório se dá perante os órgãos da administração direta/indireta, incluindo quaisquer empresas ou autarquias públicas, sociedades de economia mista e fundações públicas, tão quanto empresas que objetivam a prestação de serviços a entidades governamentais.</p>
                        <!-- practice area 1 sub-practices -->
                        <ul>
                            <li>Consultoria com relação à participação de empresas em procedimentos licitatórios, inclusive para a outorga de concessões ou autorizações, desde a constituição de consórcio ou veículo de propósito específico até a estruturação e a apresentação da proposta, além de negociações dos contratos com o Poder concedente.</li>
                            <li>Assessoria a entes públicos na estruturação, implementação e condução de processos licitatórios, inclusive com a elaboração de editais, cartas-convite e demais instrumentos necessários.</li>
                            <li>Patrocínio do contencioso administrativo e judicial em questões de Direito Público.</li>
                            <li>Análise e elaboração de contratos administrativos, estudos e pareceres.</li>
                            <li>Defesa na espera administrativa e judicial nas áreas de direito à saúde/sanitário, saúde do trabalhador, ambiental, e afins.</li>
                        </ul>
                    </div>
                </li>
                <!-- practice area 2 -->
                <li>
                    <div class="name">Constituicioal</div>
                    <div class="text">
                        <p>Com base no acompanhamento sistemático da jurisprudência do Supremo Tribunal Federal, que define a aplicação do Direito Constitucional Brasileiro, a equipe deste escritório orienta seus clientes em relação a constitucionalidade de leis e atos normativos e, também, na defesa de litígios em que se discutem violações à Constituição.
Ademais, são inúmeros os remédios constitucionais formalizados perante o Poder Judiciário, especialmente no STF e no STJ, com o intuito de assegurar direitos fundamentais e suscitar a defesa de importantes garantias constitucionais.
</p>
                        <!-- practice area 2 sub-practices -->
                        <ul>
                            <li>Questões relacionadas com a aplicação e a interpretação da Constituição, especialmente com foco nos processos de controle abstrato e concentrado de constitucionalidade perante o Supremo Tribunal Federal.</li>
                            <li>Representação de seus clientes em processos perante o Supremo Tribunal Federal.</li>
                            <li>Aconselhamento envolvendo questões de Direito Constitucional.</li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="clearfix practice_list">
                <!-- practice area 3 -->
                <li>
                    <div class="name">Empresarial</div>
                    <div class="text">
                        <p>No Direito Empresarial a atuação deste Escritório está intimamente ligada no constante preparado da equipe para as modificações legislativas, doutrinárias e jurisprudenciais relacionadas com as atividades principais da empresa. 
O papel do escritório é respaldar a empresa no seu desenvolvimento, evitando, principalmente, o desperdício de tempo e dinheiro em longos conflitos judiciais.
</p>
                        <!-- practice area 3 sub-practices -->
                        <ul>
                            <li>Recuperação de ativos financeiros nas esferas judicial e extrajudicial.</li>
                            <li>Ações executivas, monitória e de cobrança.</li>
                            <li>Recuperação judicial/extrajudicial, de forma consultiva ou contenciosa, com a análise, elaboração e assessoria nos planos de recuperação.</li>
                            <li>Análise e elaboração de contratos.</li>
                            <li>Defesa do patrimônio dos sócios e da empresa.</li>
                            <li>Atuação em procedimento contencioso trabalhista empresarial.</li>
                            <li>Atuação em negociações (Mesas Redondas) perante Sindicatos, Ministério do Trabalho e Emprego, Delegacias Regionais do Trabalho e Ministério Público do Trabalho.</li>
                            <li>Consultoria em relações trabalhistas, previdenciárias e meio-ambiente do trabalho.</li>
                        </ul>
                    </div>
                </li>
                <!-- practice area 4 -->
                <li>
                    <div class="name">Tributário</div>
                    <div class="text">
                        <p>No Direito Tributário, tanto no contencioso administrativo ou judicial, o objetivo é suprir a necessidade do contribuinte, bem como recuperar créditos e afastar a cobrança de tributos ilegais e inconstitucionais. 
A utilização de um correto Planejamento Tributário e da melhor argumentação jurídica proporciona ao cliente a segurança e a tranquilidade necessárias para gerir seus empreendimentos com a menor oneração tributária possível.
</p>
                        <!-- practice area 3 sub-practices -->
                        <p style="margin-bottom: 0px;">Consultivo</p>
                        <ul>
                            <li>Administração e levantamento de Passivo Tributário.</li>
                            <li>Consultoria específica referente à legislação pertinente, nas áreas de PIS, COFINS, SIMPLES NACIONAL, IPI, ICMS, ISS.</li>
                            <li>Elaboração de Defesas Jurídicas e Administrativas.</li>
                            <li>Elaboração de Pareceres Jurídicos, Consultas Fiscais e Planejamento Tributário, visando à economia tributária para o Cliente.</li>
                            <li>Assessoria junto à efetivação de parcelamentos fiscais.</li>
                        </ul>
                        <p style="margin-top:15px; margin-bottom: 0px;">Contencioso</p>
                        <ul>
                            <li>Defesa em autos de infração e execuções fiscais, processos administrativos e judiciais nas esferas municipal, estadual e federal, inclusive contribuições previdenciárias.</li>
                            <li>Propositura de ações para questionamento de tributos indevidos.</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /end practice areas -->
{% endblock %}