{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- #banner start -->
<div class="container">
   <div class="card" style="padding-left: 0.5%; padding-right: 0.5%; margin-top: -50px;">
       <div class="card-body transparencia" style="background-color:#08001B";>
            <blockquote class="blockquote mb-0">

                <p><h1 class="title" style="color:white; text-align:left;">Áreas de Atuação<h1><p>

                <br>

                <!-- Título Tributário -->
                <p><h3 class="subtitle" style="color:white; text-align:left;">Direito Tributário</h3></p>

                <!-- Descrição Direito Tributário -->
                <p style="color: white;text-align:justify; text-justify: inter-word;">
                  No Direito Tributário, tanto no contencioso administrativo ou judicial, o objetivo é suprir a necessidade do contribuinte, bem como recuperar créditos e afastar a cobrança de tributos ilegais e inconstitucionais.
                  A utilização de um correto Planejamento Tributário e da melhor argumentação jurídica proporciona ao cliente a segurança e a tranquilidade necessárias para gerir seus empreendimentos com a menor oneração tributária possível.
                </p>

                <br>

                <!-- Título Empresarial -->
                <p><h3 class="subtitle" style="color:white; text-align:left;">Direito Empresarial</h3></p>

                <!-- Descrição Direito Empresarial -->
                <p style="color: white;text-align:justify;text-justify: inter-word;">
                  No Direito Empresarial a atuação deste Escritório está intimamente ligada no constante preparado da equipe para as modificações legislativas, doutrinárias e jurisprudenciais relacionadas com as atividades principais da empresa.
                  O papel do escritório é respaldar a empresa no seu desenvolvimento, evitando, principalmente, o desperdício de tempo e dinheiro em longos conflitos judiciais.
                </p>

                <br>

                <!-- Título Constitucional -->
                <p><h3 class="subtitle" style="color:white; text-align:left;">Direito Constitucional</h3></p>

                <!-- Descrição Direito Constitucional -->
                <p style="color: white;text-align:justify;text-justify: inter-word;">
                  Com base no acompanhamento sistemático da jurisprudência do Supremo Tribunal Federal, que define a aplicação do Direito Constitucional Brasileiro, a equipe deste escritório orienta seus clientes em relação a constitucionalidade de leis e atos normativos e, também, na defesa de litígios em que se discutem violações à Constituição.
                  Ademais, são inúmeros os remédios constitucionais formalizados perante o Poder Judiciário, especialmente no STF e no STJ, com o intuito de assegurar direitos fundamentais e suscitar a defesa de importantes garantias constitucionais.
                </p>

                <br>

                <!-- Título Administrativo -->
                <p><h3 class="subtitle" style="color:white; text-align:left;">Direito Administrativo</h3></p>

                <!-- Descrição Direito Administrativo -->
                <p style="color:white;text-align:justify;text-justify: inter-word;">
                  No ramo do Direito Administrativo a atuação do Escritório se dá perante os órgãos da administração direta/indireta, incluindo quaisquer empresas ou autarquias públicas, sociedades de economia mista e fundações públicas, tão quanto empresas que objetivam a prestação de serviços a entidades governamentais.
                </p>

            </blockquote>
        </div>
   </div>
</div>
</div>
</div>
<!-- /#banner end -->


{% endblock %}
