{% extends 'base.html' %}
{% load staticfiles %}
{% block 'container' %}
<div class="welcome">
    <div class="row">
        <div class="span12">
        
            <!-- begin welcome -->
            <div class="about">
                <h1 class="styler_color">QUEM SOMOS</h1>
                <!-- <h2>O Escritório de Advocacia Ideal para Tibutário, Empresárial, Constitucional e Admnistrativo</h2> -->
                <p>Fundado em 2014, o Escritório Valmir Oliveira Advogados atua fortemente na área de Direito Público, tendo ainda atuação no ramo do Direito Empresarial. Seu sócio fundador e demais integrantes têm vasta experiência no trato com Direito Público, com atuações de destaque de forma isolada antes da união em uma única banca de advogados.</p>
                <p>Formado pelo sócio fundador e mais dois advogados, todos com vários anos de iniciativa pública e privada, bem como robusta bagagem no aparelho burocrático do estado, reuniram-se em um mesmo escritório com o intuito de assessorar empresas em todas as suas necessidades jurídicas, com ênfase nas diversas áreas do direito público, a exemplo de Direito Tributário, Administrativo e Constitucional.</p>
                <p>É propósito do escritório dar soluções inovadoras e repostas rápidas aos problemas antigos das empresas e demais contribuintes do setor regulado, aliando modernidade e experiência na solução dos mais diversos conflitos entre o público e o privado.</p>
                <p>Atua em âmbito contencioso, consultivo, modelagem e viabilização jurídica de negócios nos segmentos de direito público e empresarial, contando ainda com extensa experiência na solução de conflitos laborais de qualquer sorte.</p>
                <p>Graças à dedicação e talento de seus profissionais, à qualidade na prestação de serviços jurídicos e à capacidade de transformar conhecimento em soluções jurídicas relevantes, o escritório conquistou o respeito de muitos clientes pessoa física e jurídica, patrocinando várias causas individuais e coletivas, bem como sendo o escritório de escolha de vários sindicatos e associações profissionais, além de empresas que vão da construção civil ao ramo de transporte e logística.</p>
            </div>
            <!-- /end welcome -->

        </div>
        <div class="span4">
        </div>
    </div>
</div>
{% endblock %}