{% extends 'base2.html' %}

{% load staticfiles %}

{% block content %}

<!-- #banner start -->
   <div class="card" style="padding-left: 0.5%; padding-right: 0.5%; margin-top: -50px;">
       <div class="card-body" style="background-color:#0a0d16b8; ">
            <blockquote class="blockquote mb-0">
                <p><h2 class="title" style="color:white; text-align:left;">Área de Atuação<h2><br /><p>
                <p><h3 class="subtitle" style="color:white; text-align:left;">Área Trabalhista</h3></p>
                <p class="text-left" style="color: white;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                </p>
           <br><br><br><br><br><br><br><br><br><br><br><br>

            </blockquote>
        </div>
   </div>
</div>
</div>
<!-- /#banner end -->


{% endblock %}

