{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}


<div class="container">
   <div class="card" style="padding-left: 0.5%; padding-right: 0.5%; margin-top: -50px;">
       <div class="card-body transparencia" style="background-color:#08001B";>
            <blockquote class="blockquote mb-0">

              <p><h1 class="title" style="color:white;text-align:left;">Escritório</h1></p><br>

              <p class="text-left" style="color: white;text-align:justify; text-justify: inter-word;">
                Fundado em 2014, o Escritório Valmir Oliveira Advogados atua fortemente na área de Direito Público, tendo ainda atuação no ramo do Direito Empresarial. Seu sócio fundador e demais integrantes têm vasta experiência no trato com Direito Público, com atuações de destaque de forma isolada antes da união em uma única banca de advogados.
                Formado pelo sócio fundador e mais dois advogados, todos com vários anos de iniciativa pública e privada, bem como robusta bagagem no aparelho burocrático do estado, reuniram-se em um mesmo escritório com o intuito de assessorar empresas em todas as suas necessidades jurídicas, com ênfase nas diversas áreas do direito público, a exemplo de Direito Tributário, Administrativo e Constitucional.
              </p><br>

              <p><h3 class="subtitle" style="color:white;text-align:left;">Missão</h3></p>

              <p class="text-left" style="color: white;text-align:justify; text-justify: inter-word;">
                É propósito do escritório dar soluções inovadoras e respostas rápidas aos problemas antigos das empresas e demais contribuintes do setor regulado, aliando modernidade e experiência na solução dos mais diversos conflitos entre o público e o privado.
                Atua em âmbito contencioso, consultivo, modelagem e viabilização jurídica de negócios nos segmentos de direito público e empresarial, contando ainda com extensa experiência na solução de conflitos laborais de qualquer sorte.
                Graças à dedicação e talento de seus profissionais, à qualidade na prestação de serviços jurídicos e à capacidade de transformar conhecimento em soluções jurídicas relevantes, o escritório conquistou o respeito de muitos clientes pessoa física e jurídica, patrocinando várias causas individuais e coletivas, bem como sendo o escritório de escolha de vários sindicatos e associações profissionais, além de empresas que vão da construção civil ao ramo de transporte e logística.
              </p><br>


            </blockquote>
        </div>
   </div>
</div>
</div>
</div>

{% endblock %}
