{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- #banner start -->
<section id="banner" class="pb_0" >
   <div class="container ">
      <div class="row">
         <!-- #banner-text start -->
         <div id="banner-text" class="col-md-12 text-c  ">
            <div class="left-borders">
               <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"> Um objetivo : </p>
               <p class="wow fadeInUp main-h" data-wow-delay="0.2s" style="text-transform:none;">Trabalhar firme <br>  para soluções de sucesso.</p>
            </div>
            <!--<p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been the industry's standard dummy text<br> ever since the 1500s, </p> -->
         </div>
         <!-- /#banner-text End -->
      </div>
      <div class="row mt-100 p-0">
         <!--#about-text start -->
         <div class="who_we_area col-md-4 col-sm-6 wow fadeInUp">
            <div class="service-1 grey-after">
               <div class="servise-top wow fadeInUp">
                  <img src="{% static 'assets/images/service_c.png' %}">
               </div>
               <h2 class="unify"> Direito<br> Sanitário </h2>
               <div class="button-div">
                  <a href="" class="button-s"> Leia mais   </a>
               </div>
            </div>
         </div>
         <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
            <div class="service-1 grey-after">
               <div class="servise-top wow fadeInUp">
                  <img src="{% static 'assets/images/service_d.png' %}">
               </div>
               <h2 class="unify"> Direito <br>Tributário </h2>
               <div class="button-div">
                  <a href="" class="button-s"> Leia mais  </a>
               </div>
            </div>
         </div>
         <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
            <div class="service-1 grey-after">
               <div class="servise-top wow fadeInUp">
                  <img src="{% static 'assets/images/service_e.png' %}">
               </div>
               <h2 class="unify"> Direito <br> Trabalhista </h2>
               <div class="button-div">
                  <a href="" class="button-s"> Leia mais   </a>
               </div>
            </div>
         </div>
         <!--#End about-text  -->
      </div>
   </div>
</section>
</div>
</div>
<!-- /#banner end -->


{% endblock %}
