{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<!-- #banner start -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>

   .newsBody {
      display:none;
   }
   .SocialNetworkBody {
       display:none;
   }

</style>

<section id="banner" class="pb_0" >
       <div class="container ">
          <div class="row">
             <!-- #banner-text start -->
             <div id="banner-text" class="col-md-12 text-c ">
                <div class="left-borders">
                   <p  class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s"> one simple goal : </p>
                   <h5 class="wow fadeInUp main-h" data-wow-delay="0.2s" >working tirlessly <br>  toward successful resolutions</h5>
                </div>
                <p class="banner-text wow fadeInUp main-h3" data-wow-delay="0.8s">Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry. Lorem Ipsum has been the industry's standard dummy text<br> ever since the 1500s, </p>
             </div>
             <!-- /#banner-text End -->
          </div>
          <div class="row mt-100 p-0">
             <!--#about-text start -->
             <div class="who_we_area col-md-4 col-sm-6 wow fadeInUp">
                <div class="service-1 green-after">
                   <div class="servise-top wow fadeInUp">
                      <img src="{% static 'assets/images/service_c.png' %}">
                   </div>
                   <h2 class="unify"> Established  &<br> business litigation </h2>
                   <div class="button-div">
                      <a href="" class="button-s"> Learn more   </a>
                   </div>
                </div>
             </div>
             <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                <div class="service-1 pink-after">
                   <div class="servise-top wow fadeInUp">
                      <img src="{% static 'assets/images/service_d.png' %}">
                   </div>
                   <h2 class="unify"> REAL PROPERTY <br>LITIGATION </h2>
                   <div class="button-div">
                      <a href="" class="button-s"> Learn more   </a>
                   </div>
                </div>
             </div>
             <div class="who_we_area col-md-4 col-sm-6  wow fadeInUp">
                <div class="service-1 purple-after">
                   <div class="servise-top wow fadeInUp">
                      <img src="{% static 'assets/images/service_e.png' %}">
                   </div>
                   <h2 class="unify"> PERSONAL INJURY <br>LITIGATION </h2>
                   <div class="button-div">
                      <a href="" class="button-s"> Learn more   </a>
                   </div>
                </div>
             </div>
             <!--#End about-text  -->
          </div>
       </div>
    </section>
 </div>
</div>
<!-- /#banner end -->


<!--start Why Choose Us Area -->
<section class="">
 <div class="container">
    <div class="row text-center  ">
       <div class="title wow fadeInUp">
          <h1>Atualizações</h1>
          <div class="hed_img">
             <img src="{% static 'assets/images/headding-img.png' %}">
          </div>
          <p> Notícias e Novidades em nossas Redes Sociais </p>
       </div>
    </div>
       <br />

    <div class="row about_row ">

          <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp"  style="margin-left:0%;">
            <!--News I-->
            <div class="w3-content newsBody">
                <h1 class="title" style="margin-bottom:7%;">Notícias</h1>
                <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao.jpg' %}"></a>
                <div class="blog-body">
                    Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> Imposto é Roubo  </a>   </h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                    <div class="">
                    <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                    </div>
                </div>
             </div>
            <!--News II-->
             <div class="w3-content newsBody">
                    <h1 class="title" style="margin-bottom:7%;">Notícias</h1>
                    <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao2.jpg' %}"></a>
                    <div class="blog-body">
                        Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> FGTS é Roubo  </a>   </h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                        <div class="">
                        <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                        </div>
                    </div>
                 </div>

                 <!--News III-->
             <div class="w3-content newsBody">
                        <h1 class="title" style="margin-bottom:7%;">Notícias</h1>
                        <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao1.jpg' %}"></a>
                        <div class="blog-body">
                            Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> Fim da CLT  </a>   </h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                            <div class="">
                            <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                            </div>
                        </div>
                     </div>

             <div class="w3-center">
                    <div class="w3-section">
                       <button class="btn btn-secondary" onclick="plusDivsNews(-1)">❮ Prev</button>
                        <button class="btn btn-secondary" onclick="plusDivsNews(1)">Next ❯</button>
                    </div>

                  </div>
          </div>


             <!--End News-->


        <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" style="margin-left:30%;">
            <!--News I-->
            <div class="w3-content socialNetworkBody">
                    <h1 class="title" style="margin-bottom:7%;">Rede Socais</h1>
                    <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao1.jpg' %}"></a>
                    <div class="blog-body">
                        Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> Imposto é Roubo  </a>   </h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                        <div class="">
                        <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                        </div>
                    </div>
                 </div>
                <!--News II-->
                 <div class="w3-content socialNetworkBody">
                        <h1 class="title" style="margin-bottom:7%;">Notícias</h1>
                        <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao2.jpg' %}"></a>
                        <div class="blog-body">
                            Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> FGTS é Roubo  </a>   </h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                            <div class="">
                            <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                            </div>
                        </div>
                     </div>

                     <!--News III-->
                 <div class="w3-content socialNetworkBody">
                            <h1 class="title" style="margin-bottom:7%;">Notícias</h1>
                            <a href="blog-single.html">      <img src="{% static 'assets/images/poderoso_chefao3.jpg' %}"></a>
                            <div class="blog-body">
                                Postado em 12 Agosto 2019<h1>  <a href="blog-single.html"> Fim da CLT  </a>   </h1>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting<br> industry.    </p>
                                <div class="">
                                <a href="blog-single.html" class="button-buttom"> Leia mais  </a>
                                </div>
                            </div>
                         </div>

                 <div class="w3-center">
                        <div class="w3-section">
                           <button class="btn btn-secondary" onclick="plusDivsSN(-1)">❮ Prev</button>
                            <button class="btn btn-secondary" onclick="plusDivsSN(1)">Next ❯</button>
                        </div>

                      </div>
              </div>


                 <!--End News-->
        </div>
    </div>
</section>

<script>
var slideIndexNews = 1;
showDivsNews(slideIndexNews);

function plusDivsNews(n) {
  showDivsNews(slideIndexNews += n);
}


function showDivsNews(n) {
  var i;
  var x = document.getElementsByClassName("newsBody");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndexNews = 1}
  if (n < 1) {slideIndexNews = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndexNews-1].style.display = "block";
}

var slideIndexSN = 1;
showDivsSN(slideIndexSN);

function plusDivsSN(n) {
  showDivsSN(slideIndexSN += n);
}


function showDivsSN(n) {
  var i;
  var x = document.getElementsByClassName("socialNetworkBody");
  if (n > x.length) {slideIndexSN = 1}
  if (n < 1) {slideIndexSN = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  x[slideIndexSN-1].style.display = "block";
}
</script>
<!--End Why Choose Us Area -->


  <!-- jQuery JS -->
  <script src="assets/js/jquery-1.12.0.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Animate JS -->
  <script src="assets/vendors/animate/wow.min.js"></script>

  <script src="assets/vendors/owl_carousel/owl.carousel.min.js"></script>

  <!-- Theme JS -->
  <script src="assets/js/theme.min.js"></script>

{% endblock %}
